#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 13;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    height: auto;
}
li#def {
    display: inline-block;
    list-style-type: none;
}
ul#def li {
padding: 10px 50px 0px 45px;
}

a#nav {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
  font-family: "Raleway", cursive;
}
h2 {
  font font-family: 'Coming Soon', cursive;
  font-size: 30px;
}
.line-divider {
    position: relative;
    text-align: center;
    margin: 55px 0 65px;
}
.img-rounded {
  align-items: center;
}
