
img#logo {
    max-width: 180px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    color: black;
}

.navbar-inverse {
  height: 80px;
}

navbar navbar-inverse navbar-fixed-top li a {
  color: #ffffff!important;
}



html {
  box-sizing: border-box;
  font-weight: 200;

}
body {
  margin: 0;
  font-family: "Raleway", cursive;
  background:: #D8ECF9; /*fallback for old browsers*/
  background: -webkit-linear-gradient(to bottom, #D8ECF9, #EEEEEE);   /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to bottom, #D8ECF9, #EEEEEE);  /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  padding-top: 100px;
  background:#D8ECF9;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color: #F0FFFF;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url("../../images/digi_nomad_pics/panel1.jpg"); }
.panel2 { background-image:url("../../images/digi_nomad_pics/panel2.jpg"); }
.panel3 { background-image:url("../../images/digi_nomad_pics/panel3.jpg"); }
.panel4 { background-image:url("../../images/digi_nomad_pics/panel4.jpg"); }
.panel5 { background-image:url("../../images/digi_nomad_pics/panel5.jpg"); }


/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Just Another Hand', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size:40px;
}

.cta {
  color:white;
  text-decoration: none;
}

/*Rest of home page*/
p {
  font-size: 18px;
}

.container {
  padding-bottom: 30px !important;

}

/*form*/

div.signup_container {
  background: black;
  color: white;
  height: auto;
  text-align: center;
  align-content: center;
}

div.signup_content {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: block;
  position: relative;
  top: 100%;
}

p.signup {
    max-width: 80px;
}

input.form-control {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

img.signup {
  width: 200px;
}

#signup_box {
  width: 300px;
}


.btn i {
    margin-right: 8px;
}

div.howitworks_container {
  background: white;
  color: black;
  height: auto;
}


blockquote {
  border-left: 5px solid #ccc !important;
}
blockquote p {
font-size: 15px !important;
}

.center {
  text-align: center;
}
/*.glyphicon {
  display: block;
  text-align: center;
  color: green;
  font-size: 68px;
}*/


h3 {
  font-weight: bold;
}

.img-rounded{
  text-align: center;
}

a, a:active, a:visited{
color: inherit;
text-decoration: none;
}

#authors {
  text-align: right;
  padding-right: 30px;
  font-family: 'Just Another Hand', cursive;
  font-size: 22px !important;
  text-decoration: none;
}

#authors a:hover {
    color: FireBrick!important;
    text-decoration: none;
}

#social a:hover {
    color: FireBrick!important;
    text-decoration: none;
}
